.header__fon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #333333;
  min-height: 600px;
  background-color: #913b4c;
}

.container {
  border: 1px solid #00ffff;
  min-height: 230px;
  background-color: #008000;
}

.block_title {
  color: #ffffff;
}

.kljl {
  align-items: center;
  justify-content: center;
text-align: left;
color:#ff7f50;
text-align: center;
}
